<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Animal Crossing Villagers</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Animal Crossing Villagers</h1>
      <div class="card-container">
        <!-- Loop through each Pokémon and wrap each card in a link -->
        {% for villager in villagers %}
        <a href="{{ url_for('villager_detail', id=villager.id) }}" class="card-link">
          <div class="card">
            <img src="{{ villager.image }}" alt="{{ villager.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ villager.name }}</h5>
              <p class="card-text">ID: {{ villager.id }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>