<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>All Studio Ghibli Characters</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>50 Studio Ghibli Characters</h1>
      <div class="card-container">
        <!-- Loop through each Pokémon and wrap each card in a link -->
        {% for person in people %}
        <a href="{{ url_for('person_detail', id=person.id) }}" class="card-link">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ person.name }}</h5>
              <p class="card-text">ID: {{ person.id }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>