<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ person.name }}'s Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>{{ person.name }}'s Details</h1>
      <div class="person-detail">
        <p><strong>ID:</strong> {{ pokemon.id }}</p>
        <p><strong>Types:</strong> {{ pokemon.types | join(', ') }}</p>
        <p><strong>Height:</strong> {{ pokemon.height }}</p>
        <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      </div>
      <p><a href="{{ url_for('index') }}">Back to all Characters</a></p>
    </div>

  </body>
</html>